.item {
    cursor: pointer;
    margin: 10px 44px 10px 10px;
    width: 186px;
    height: 24px;
}
.item-select {
    width: 240px;
    height: 44px;
    background: #F5F8FA;
    border-radius: 4px;
}
.item-noSelect {
    background-color: #FFFFFF;
}
.item-title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #333333;
    font-family: NotoSansJP-Regular;
}

.delete-icon-parent {
    /* position: fixed;
    top: 80px;
    left: 248px;
    width: 20px;
    height: 20px;
    margin: 0 0 0 auto; */
}

.delete-icon-1 {
    position: fixed;
    top: 98px;
    left: 248px;
    width: 20px;
    height: 20px;
}