

.header {
    position: fixed;
    top: 30px;
    left: 40px;
    width: 200px;
    height: 32px;
}
.logo {
    width: 32px;
    height: 32px;
}
.title {
    font-size: 24px;
    color: #1A1A1A;
}
.body {
    background-color: #FFFFFF;
    position: fixed;
    top: 82px;
    left: 40px;
    width: 240px;
    height: 934px;
}
.list {
    width: 240px;
    height: 44px;
    background: #FFFFFF;
}
.sidebar-bottom {
    background: #F5F8FA;
    position: fixed;
    top: 840px;
    left: 0px;
    width: 305px;
    height: 60px;
}
.edit-icon {
    background: #4CB3F8;
    border-radius: 4px;
    position: fixed;
    top: 850px;
    left: 180px;
    width: 90px;
    height: 40px;
}
.done-icon {
    background: #4CB3F8;
    border-radius: 4px;
    position: fixed;
    top: 850px;
    left: 180px;
    width: 90px;
    height: 40px;
}
.newPage-icon {
    position: fixed;
    top: 850px;
    left: 40px;
    width: 90px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #4CB3F8;
    border-radius: 4px;
}
